{% extends "layout.html" %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<article>
    <h2>{{ course.title }}</h2>
    {{ course.description }}

    <section>
    {% for section in course.section_set.all %}
            <h3>
                <a href="{% url 'courses:section' course_pk=section.course.pk section_pk=section.pk %}">sign up</a>
            </h3>
        <h2>{% if section.section_time == '1' %}Section time slot: 9:45-11:15am{% else %}Section time slot: 1:15-2:45pm{% endif %}</h2>
        <h3>Section Capacity:  {{ section.capacity }}</h3>

        {% endfor %}
    </section>
</article>
{% endblock %}