{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title %}Available Courses{% endblock %}

{% block content %}
    <h1 align="center">Courses Available</h1>
     <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <br/>
<div class="cards">
    {% for course in courses %}
    <div class="card">
        <header><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></header>        <div class="card-copy">
            {{ course.description }}
        </div>
    </div>
    {% endfor %}
</div>
    <br/>
{% endblock %}
<br/>