{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title %}My Courses{% endblock %}

{% block content %}
    <head>
        <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
            th, td {
              text-align: left;
              padding: 8px;
            }
            tr:nth-child(even) {background-color: #f2f2f2;}
        </style>
    </head>
<h1 align="center">My Course Schedule</h1>
    <br/>
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<div class="cards">
    <table>
        <tr>
            <th>Course Title</th>
            <th>Course Instructor</th>
            <th>Time Slot</th>
            <th>Capacity</th>
        </tr>

        {% for course in courses %}
        <tr>
            <td>{{ course.section.course.title }}</td>
            <td>{{ course.section.course.instructor }}</td>
            <td>{{ course.section.section_time}}</td>
            <td>{{ course.section.capacity }}</td>
        </tr>

    {% endfor %}
    </table>
</div>
{% endblock %}