{% extends "layout.html" %}

{% block title %}{{ section.capacity }} - {{ section.course.title }}{% endblock %}

{% block content %}
<head>
        <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
            th, td {
              text-align: left;
              padding: 8px;
            }
            tr:nth-child(even) {background-color: #f2f2f2;}
        </style>
    </head>
<article>
    <h1 align="center">Register</h1>
    <br/>
    <h2 align="center">Congratuation! You have successfully registered.</h2>
    <h3 align="center">Please read through the course description.</h3>
    <p align="center">If you have any question about the course, please contact instructor, yunzhe_liu@baylor.edu</p>
    <br/>
    <h2>Course Detail Information</h2>
    <table>
        <tr>
            <th>Course Title</th>
            <th>Course Level</th>
            <th>Course Instructor</th>
            <th>Course Description</th>
            <th>Current Available</th>
        </tr>
        <tr>
            <td>{{ section.course.title }}</td>
            <td>{% if section.course.level == 'U' %} Undefined Level {% else %} {{ section.course_level }} level {% endif %}</td>
            <td>{{ section.course.description }}</td>
            <td>{{ section.course.instructor }}</td>
            <td>{{ section.capacity }}</td>
        </tr>
    </table>
</article>
{% endblock %}