{% extends "layout.html" %}

{% block tile %}My Application{% endblock %}
{% block content %}
<div class="cards">
<p>it worked</p>
    <button type="submit" class="btn btn-info"><a href="{% url 'application:application_profile'%}">finish profile</a></button>
    <button type="submit" class="btn btn-info"><a href="{% url 'application:application_school'%}">your school</a></button>
    <button type="submit" class="btn btn-info"><a href="{% url 'application:application_parent'%}">your parent</a></button>
    <button type="submit" class="btn btn-info"><a href="{% url 'application:application_start'%}">start application!</a></button>

    {% for application in applications %}
    <div class="card">
        <header><a href="{% url 'application:application_detail' pk=application.pk %}">{{ application.user }}</a></header>
        <div class="card-copy">
            <p></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}