{% extends "layout.html" %}

{% block tile %}Application Detail{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 align="center">Application Detail</h1>
<div class="container">
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Application Status</a></li>
    <li><a data-toggle="tab" href="#menu1">Personal Information</a></li>
    <li><a data-toggle="tab" href="#menu2">School Information</a></li>
    <li><a data-toggle="tab" href="#menu3">Parent Information</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h2>Application Status</h2>
        <br/>
        <table class="table">
          <tr>
              <th>Username</th>
              <th>Date of Application</th>
              <th>Application Status</th>
          </tr>
            <tr>
                <th>{{ user.username }}</th>
                <th><p><span id="datetime"></span></p>
                <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
                </script></th>
                <th>{% if application.application_status == 'A' %}Accepted{% else %}Pending{% endif %}</th>
            </tr>
        </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Application Status</h2>
        <br/>
      <table class="table">
          <tr>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>City</th>
              <th>BirthDate</th>
              <th>Phone</th>
          </tr>
          <tr>
              <th>{{ user.username }}</th>
              <th>{{ user.first_name }}</th>
              <th>{{ user.last_name }}</th>
              <th>{{ user.email }}</th>
              <th>{{ profile.city }}</th>
              <th>{{ profile.birth_date }}</th>
              <th>{{ profile.phone }}</th>
          </tr>
      </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>School Information</h2>
        <br/>
        <table class="table">
          <tr>
              <th>Username</th>
              <th>School Name</th>
              <th>School Type</th>
              <th>Grade</th>
          </tr>
          <tr>
              <th>{{ user.username }}</th>
              <th>{{ application_school.school_name }}</th>
              <th>{% if  application_school.type  == 'pi' %}Private{% else %}Public{% endif %}</th>
              <th>{{ application_school.grade }}</th>
        </table>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h2>Parent Information</h2>
        <br/>
      <table class="table">
          <tr>
              <th>Username</th>
              <th>Parent Name</th>
              <th>Parent Email</th>
              <th>Parent Phone Number</th>
          </tr>
          <tr>
              <th>{{ user.username }}</th>
              <th>{{ application_parent.name }}</th>
              <th>{{ application_parent.email }}</th>
              <th>{{ application_parent.cell_phone }}</th>
        </table>
    </div>
  </div>
</div>
</body>
</html>
{%endblock%}